.header {
    background-color: white;
    padding         : 0.7rem 0;
    font-size       : 1.25rem;

    &_title {
        font-weight: bold;
    }

    &_link {
        color          : black;
        transition     : all 0.25s ease-in-out 0s;
        text-decoration: none;

    }
}